@font-face {
  font-family: Oxygen;
  font-weight: bold;

  src: url("./fonts/oxygen/Oxygen-Bold.ttf");
}

@font-face {
  font-family: Oxygen;
  font-weight: normal;

  src: url("./fonts/oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: Oxygen;
  font-weight: lighter;

  src: url("./fonts/oxygen/Oxygen-Light.ttf");
}
