.letterbox-crossfade-leave {
  opacity: 1;
}
.letterbox-crossfade-leave.letterbox-crossfade-leave-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.letterbox-crossfade-enter {
  opacity: 0;
}
.letterbox-crossfade-enter.letterbox-crossfade-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*.letterbox-crossfade-height {
  transition: height .25s ease-in-out;
}*/
