.vertical-rail-left,
.vertical-rail-right {
    position: absolute;

    width: 4px;
    height: 720px;

    top: 0px;

    background-color: #ffffff;
}

.vertical-rail-left {
    left: 316px;
}

.vertical-rail-right {
    left: 960px;
}

.sidebar-left,
.sidebar-right {
    position: absolute;

    width: 316px;
    height: 720px;

    top: 0px;
}

.sidebar-left {
    left: 0px;
}

.sidebar-right {
    left: 964px;
}

.title-block {
    position: absolute;
    top: 0;

    width: 100%;
    height: 88px;
    
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    background-color: #232439;
}

.camera-block {
    /* this is intentionally transparent */
    position: absolute;
    
    top: 88px;

    width: 316px;
    height: 178px;
}

.subtitle-block {
    position: absolute;

    top: 266px;

    width: 100%;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    background-color: #232439;
}

.primary-panel {
    position: absolute;

    top: 310px;

    width: 100%;
    height: 410px;

    background-color: #232439;
}

.display-window-left,
.display-window-right {
    position: absolute;

    top: 0;

    width: 960px;
    height: 720px;
}

.display-window-right {
    right: 0;
}

.display-letterbox-top,
.display-letterbox-bottom {
    position: absolute;

    width: 960px;
    height: 88px;
}

.display-letterbox-bottom {
    top: 632px;
}
